body{
	margin: 0;
	font-family: sans-serif;
	color: #777777;
}
a{
	color: green;
	text-decoration: none;
}

.green-text{
	color: green;
}
.small-text{
	font-size: 13px;
	text-align: justify;
	word-break: break-all;
}
.heading-border{
	border-bottom: 2px green solid;
	padding-bottom: 0.3rem; 

}

/*header styling*/

#container ul{

	vertical-align: top;
	list-style: none;
	margin-top:  1.3rem;
	margin-left: 0.7rem;
	display: inline-block;
}
#container ul li{
	display: inline-block;
	margin: 1.5rem 2.5rem  0rem 0rem ;
}
li p{
	font-weight: bold;
	letter-spacing: 1.7px;
	display: inline-block;
	margin-top: 0rem;
}


header{
	background-image: linear-gradient(to right,white , lightgrey);
	box-shadow: 0px 1px 7px grey;
}
#container{
	width: 90%;
	margin: 0 auto 0;
	align-items: center;

}
#logo{
	display: inline-block;
	margin: 1.2rem 1.2rem 1.2rem 8vw;
}
#logo img{
	display: inline-block;
	width: 20vw;
}

/*header ends*/


/*main styling*/

main{
	background-image: url("./images/main_bg.jpg");
}
#sliderContainer{
	width: 75%;
	margin: 0px auto 0px ;
}

#slider div img{
	width: 97.5%;
	margin-left: 1%;
}

.slider-content{
	display: inline-block;
	vertical-align: top;
	margin-left: -22vw;
	margin-top: 3rem;
	width: 16vw;
}


.learn-button  p{
	margin: 0;
	padding: 2px;
}
.learn-button{
	width: 9rem;
	text-align: left;
	border: 1px green solid;
	margin: 2rem 0 1rem 0;

}

/*slider styling ends*/

/*lifestyle styling*/

#lifestyleContainer{
	width: 72vw;
	margin: 1rem  auto 1rem ;
	background-image: linear-gradient(to bottom, white , #E0E0E0);
	border: 2px solid lightgrey;
}
#lifestyleContainer h3{
	width: 95%;
	margin: 1.5rem auto 0 ;
	
}
#lifestyleContent{
	width: 25%;
	text-align: justify;
	font-size: 13px;
	padding: 0 0.5% 1rem 1.5rem;
	display: inline-block;
	

}
section{
	width: 65%;
	vertical-align: top;
	column-count: 4;
	display: inline-block;
	column-gap: 1rem;
	margin:  1rem 0 0 0.5rem;
}
section div{
	border-left: 2px solid lightgrey;
	padding: 1rem;
	margin-bottom: 1rem;
}
section div img{
	width: 110%;
}
section div p{
	font-size: 13px;
	text-align: justify;
	word-break: break-all;

}
/*customer and news section */

#customerAndNews{
	width: 72vw;
	margin: 1rem  auto 1rem ;
}
#customerSection{
	display: inline-block;
	width: 58%;

}
#imageContainer a img{
 	width: 30%;
 	min-width: 150px;

}
#newsSection{
	display: inline-block;
	width: 34%;
	vertical-align: top;
	margin-left: 6.8%;
}
#newsSection h5{
	margin-bottom: 0;
}
.date{
	margin: 0.5rem 0 1rem 0;
	color: #484848;
}
.news{
	border-top: 2px lightgrey solid;
	margin-top: 2rem;
}


/*customer and new section end*/


/*photo and video section*/

#photoAndVideo{
	width: 72vw;
	margin: 1rem  auto 1rem ;
	background-image: linear-gradient(to bottom, white , #E0E0E0);
	border: 2px solid lightgrey;
}

#photoAndVideo div{
	display: inline-block;
	width: 40%;
	margin: 1rem 3%;
}
#videoSection{
	 float: right;
}


.glightbox-clean .gdesc-inner, .glightbox-modern .gdesc-inner {
    padding: 0 !important;
}

.glightbox-clean .gdesc-inner, .glightbox-modern .gdesc-inner {
    padding: 0 !important;
}
h4{
	margin:0 0 0 1rem !important;
	color: green !important;

}
#photoAndVideo div a img{
	width: 49%;
	margin: 0 auto 0;
}

footer{
	background-color: brown;
}

footer div ul{
	list-style: none;
	display: inline-block;
	margin-top: 0.1rem;
	margin-bottom: 3rem;
	margin-left:  -5%;
}
footer div ul li{
	display: inline-block;
	margin-right: 1rem;
}footer h6{
	color: lightgrey;
}
footer div p{
	display: inline-block;
	float: right;
	vertical-align: top; 
	margin-top: 1.5rem;
}
footer div{
	width: 72vw;
	margin:  0 auto 0  ;
}

/*footer ends*/

/*responsive design css*/

@media screen and (max-width: 1150px){

	#container ul li{
		margin: 1.5rem 1rem  0rem 0rem ;
		}
	li p{		
		letter-spacing: 1px;
		}
	#lifestyleContent{
		padding: 0 0.5% 1rem 0.5rem;
		width: 90%;
		}
		section{
			display: block;
			width: 90%;
		}
		.slider-content{
			margin-top: 10px;
		}
		.slider-content button{
			margin-top: 10px;
		}
}

@media screen and (max-width: 900px){

	.slider-content{
		display: none;
	}
	#logo{
	display: block;
	margin-right: auto;
	margin-left: auto;
	}
	#logo img{
		width: 40%;
	}
	#container ul{
		display: block;
		margin-right: auto;
		margin-left: auto;

	}
}

@media screen and (max-width: 700px){

	section {
		column-count: 2;
	}
	#photoAndVideo div{
	display: block;
	width: 90%;
	}

	#videoSection{
		float: none;
	}
	#customerSection{
	display: block;
	width: 100%;
	}
	#newsSection{
		display: block;
		width: 100%;
		margin-left: 0%;
	}
	footer div p{
		display: block;
		float: none;
		margin-top: 1.5rem;
	}

}


